@import 'resources.css';

#cann-table {
	width: 100%;
	margin: 0.5em auto;
	color: white;
}
#cann-table th {
	padding: 0.5em 1em;
	background-color: #0e3c56;
	font-size: 0.9em;
}
.cann-row-1, .cann-row-2 {
	width: 30%;
	padding: 1em;
	margin: 0;
	height: 2em;
}
.cann-row-1 {
	background-color: #155679;
}
.cann-row-2 {
	background-color: #0f2e40;
}
.cann-point {
	width: 1em;
	padding: 0.5em 1em;
	text-align: center;
}
.cann-clubs {
	padding: 0.5em 1em;
}
.club-name {
	width: 13em;
	display: inline-block;
	font-weight: bolder;
}
#cann-gen-note {
	font-size: 0.6em;
	display: block;
}

@media screen and (max-device-aspect-ratio: 1/1) and (orientation: portrait) {
	#cann-table-area {
		width: 100%;
		overflow: scroll;
	}

}
