---
---
table {
	border: 2px solid grey;
	border-radius: 0.3em;
	width: 100%;
}

th, td {
	padding: 0.5em;
}

th {
	background-color: #111;
}

td {
	background-color: #444;
}

h1.org {
	font-size: 1em;
	background-color: #003c58;
}

.year {
	background-color: #427594;
}

details {
	background-color: #295c79;
	flex-grow: 1;
}

.org, .year, details {
	margin: 0;
	padding: 1em;
}

#main section {
	padding: 0;
}

details>ul>li {
	list-style: disc !important; 
}

@media screen and (min-device-aspect-ratio: 1/1) and (orientation: landscape) {
	section {
		display: flex;
		flex: column;
		min-height: 5em;
	}
	.org {
		width: 25%;
		border-radius: 0.5em 0 0 0.5em;
	}
	.year {
		width: 18%;
		border-radius: 0 0.5em 0.5em 0;
		font-weight: normal;
		font-size: inherit;
	}

	details {
		width: 58%;
	}
}
@media screen and (max-device-aspect-ratio: 1/1) and (orientation: portrait) {
	.year {
		font-size: 0.8em;
		border-radius: 0 0 0.5em 0.5em;
	}

	.org {
		border-radius: 0.5em 0.5em 0 0;
	}
}
