---
---

h1.org {
	font-size: 1em;
	background-color: #003c58;
}

.year {
	background-color: #427594;
}

details {
	background-color: #295c79;
	flex-grow: 1;
}

.org, .year, details {
	margin: 0;
	padding: 1em;
}

#main section {
	padding: 0;
	overflow: hidden;
	border-radius: 0.5em;
}

details>ul>li {
	list-style: disc !important;
}

@media screen and (min-device-aspect-ratio: 1/1) and (orientation: landscape) {
	section {
		display: flex;
		flex-wrap: wrap;
		min-height: 5em;
	}
	.org {
		flex: 3 1 0;
	}
	.year {
		flex: 1 1 0;
		font-weight: normal;
		font-size: inherit;
	}

	hr {
		width: 100%;
		height: 0;
		border: 1px solid black;
		margin: 0;
	}

	details {
		flex: 8 1 0;
	}
}
@media screen and (max-device-aspect-ratio: 1/1) and (orientation: portrait) {
	.year {
		font-size: 0.8em;
	}

	hr {
		border: 0;
	}
}
