---
---
@import 'code.css';

.post-title a {
	text-decoration: none;
	font-size: 120%;
}

kbd {
	border: solid black 0.05em ;
	box-shadow: 0 0.05em 0.05em 0.05em rgba(200,200,200,0.75);
	padding: 0.1em 0.5em;
	border-radius: 0.25em;
	background: #FEFEFE;
	margin: 0 0.2em;
	color: black;
}

blockquote {
	border-left: 0.4em solid darkgreen;
	margin: 0;
	padding: 0.2em 1em;
	background: #061616;
}

aside {
	background-color: #003535; /*darkcyan;*/
	padding: 0.5em;
}

aside:not(:last-child) {
	border-left: 0.2em solid darkgreen;
	float: right;
	width: 40%;
	margin: 1em;
	margin-right: initial;
	padding: 0.2em 0.5em;
	text-align: left;
}

aside>blockquote {
	padding: 0.1em 0.5em;
	margin: 0;
	text-align: left;
}

aside> blockquote + p {
	text-align: right;
}

.post-date {
	text-align: right;
}

a.tag {
	background-color: #5d5d5d;
	padding: 0.1em 0.5em;
	border-radius: 0.3em;
	font-variant: small-caps;
	font-weight: bold;
	font-size: 110%;
	color: #e0e0e0;
}

ol.tags-list {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row-reverse;
}

ol.tags-list li {
	list-style: none;
	list-style-image: none;
	display: inline-block;
}

.danger {
	border-left: 0.3em solid darkred;
	margin: 0;
	padding: 0.5em 1em;
	background: #061616;
	border-radius: 0.2em;
}

.danger::before {
	content: "Warning!";
	font-weight: bold;
	text-transform: uppercase;
	color: crimson;
	padding-right: 1em;
	display: block;
	letter-spacing: 0.2em;
}

/*
From http://drewsilcock.co.uk/proper-linenumbers/
*/

.highlight {
	margin: 0;
}

.highlight pre {
	margin: 0;
}

.highlight pre code {
	margin: 0;
}

.highlight .code, .highlight .gutter, .rouge-gutter, .rouge-code {
	padding: 0.5em;
}

.highlight .gutter, .rouge-gutter {
	opacity: 0.4;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: #454545;
	text-align: right;
}

.comments {
	background-color: darkslategrey;
	overflow: auto;
}

nav.page-links {
	overflow: auto;
	text-align: center;
	display: flex;
	justify-content: space-between;
}

a.page-prev {
	text-align: left;
	text-overflow: ellipsis;
	flex-grow: 1;
}

a.page-next {
	text-align: right;
	text-overflow: ellipsis;
	flex-grow: 1;
	/* text-overflow: '…  ⇨ ';*/
}

span.prev::before {
	content: '⇦  ';
}

span.next::after {
	content: '  ⇨';
}

a.page-prev, a.page-next {
	text-decoration: none;
	color: silver;
	font-size: 1.1em;
	white-space: nowrap;
}

.slideshow-wrap {
	width: 100%;
	/*padding-bottom: 75%;*/
	position: relative;
	text-align: center;
}

/*
.slideshow {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
height: 100%;
width: 100%;
}
*/

.footnotes li {
	padding: 0;
}

header>h1>a:link, header>h1>a:visited {
	color: aqua;
	text-align: left;
}

@media screen and (min-device-aspect-ratio: 1/1) and (orientation: landscape) {
	.post-title {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.post-title h1 {
		margin: 0;
		margin-bottom: 0.5em;
		padding: 0;
		flex-basis: 75%;
	}
	.post-title h1>a {
		line-height: 1.2em;
	}
	.post-date {
		border-left: solid 0.2em silver;
		padding-left: 0.5em;
		margin: auto 0;
	}

	.post-title>h2 {
		flex-basis: 50%;
		margin: auto 0;
		font-size: 1.3em;
	}

	.post-title>ol.tags-list {
		flex-basis: 50%;
		text-align: right;
		flex-flow: row-reverse;
		margin-left: auto;
	}
	a.page-prev {
		float: left;
		width: 30%;
	}
	a.page-next {
		float: right;
		width: 30%;
	}
}

@media screen and (max-device-aspect-ratio: 1/1) and (orientation: portrait) {
	.post-date {
		font-size: 80%;
		display: block;
		text-align: right;
	}
	.post-title h1 {
		margin: 0;
		line-height: 1.4em;
	}

	kbd {
		font-size: small;
	}
	a.page-prev, a.page-next {
		display: block;
		padding: 0.25em;
		width: 100%;
	}
	a.tag {
		font-size: 90%;
	}
}
