---
---
html {
	background-color: black; /*#404040;*/
}

#title {
	padding: 0.1em 3%;
	font-size: 120%;
	font-variant: small-caps;
	text-align: center;
	min-height: 4em;
	color: whitesmoke;
}

#title h1 {
	border-bottom: 1px white solid;
	letter-spacing: 0.1em;
	margin: 0;
}

#main {
	margin: 0 auto;
}

#main li.no-marker {
	list-style: none;
}

footer {
	font-size: 90%;
	border-top: 0.25em solid grey;
}

footer.section {
	border-radius: 0;
	margin-bottom: 0;
}

nav.top-level {
	display: flex;
	justify-content: center;
}

nav.top-level a {
	border-radius: 0.3em;
	margin: 0.5em 1em;;
	padding: 0.5em 0.5em;
	background-color: #37474F;
	color: white;
	text-decoration: none;
}

nav a:visited {
	color: silver;
}

footer img {
	height: 1em;
}

body {
	font-family: 'Recursive', 'Ubuntu', 'Roboto', 'Droid', 'Verdana', sans;
	/*font-size: 16px;*/
	margin: 0 auto;
	padding: 0;
	color: #121212;
	background-color: black; /*#B0BEC5; #CCCCCC;*/
	width: 100%;
/*	width: 60em;*/
	min-height: 100vh;
}

code {
	font-family: 'Ubuntu Mono', 'Droid Mono', 'Monaco', monospace;
	color: whitesmoke;
	background-color: #163416;
	padding: 0.1em 0.3em;
}

a:link {
	color: #0EE;
}
a:visited {
	color: #1387B4;
}
a:hover {
/*	text-shadow: 0 0 2px #999;*/
	font-weight: bold;
}

#title a {
	text-decoration: none;
	color: inherit;
}

ol li {
	list-style: decimal;
	padding: 0.3em;
}

nav ul li {
	list-style: none;
}

section, .section {
	background: #122;
	color: white;
	margin-bottom: 1em;
	padding: 1em;
	text-align: justify;
	line-height: 1.4em;
}

section, .section, #vim-proposal img {
	/*box-shadow: 0.1em 0.1em 0.2em 0.1em rgba(128,128,128,0.75);*/
	border-radius: 0.5em;
}

pre code {
	overflow: auto;
	display: block;
	padding: 0.5em;
	color: whitesmoke;
	background-color: black;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	font-size: 1.0em;
}

pre code strong {
	color: white;
}

.top {
	float: right;
	background: rgb(213, 213, 213);
	padding: 0.5em;
	/* vertical-align: top; */
	border-radius: 0.2em;
	border: 0.2em solid gray;
	margin-top: -1em;
	font-size: 1.5em;
}

img {
	max-width: 100%;
}

a.rss {
	margin-left: auto;
}

sup {
	vertical-align: top;
	position: relative;
	top: -0.5em;
}

@media screen and (min-device-aspect-ratio: 1/1) and (orientation: landscape) {
	#title h1 {
		display: inline-flex;
		align-items: center;
		max-height: 3em;
		padding: 0 1em;
	}
	#title h1 a {
		margin: 0.5em;
	}
	img#face {
		padding-top: 1em;
		height: 3.5em;
	}
	nav {
		font-size: 1.2em;
		text-align: center;
		height: 100%;
	}
	nav a {
		width: 6em;
	}
	nav a:hover {
		box-shadow: 0.1em 0.1em 0.15em 0.05em rgba(100,100,100,0.75);
	}

	#main {
		max-width: 50em;
		min-width: 22em;
		/*width: 60%;*/
		padding: 1em 2em;
		min-height: 80vh;
	}
}

@media screen and (max-device-aspect-ratio: 1/1) and (orientation: portrait) {
	body {
		font-size: 5vw;
		text-align: center;
	}

	#title h1 {
		margin: 0.2em;
		padding-bottom: 0.5em;
	}

	nav {
		flex-direction: column;
		text-align: center;
	}

	nav.top-level a {
		margin-bottom: 0;
	}

	section, .section {
		text-align: left;
		margin-top: 2em;
	}

	#main, #vim-proposal, nav {
		width: 90%;
		padding: 0 1em;
		margin: 0 auto;
	}

	.rss {
		float: right;
		text-align: center;
	}

	footer .rss img {
		height: 2em;
		padding-left: 0.5em;
		padding-bottom: 0.5em;
	}
}
