---
title: Blog
permalink: /blog/
pagestyle: posts
layout: default
---

{% for post in site.posts %}
<section>
	<header class="post-title">
		<h1>
			<a href="{{site.base-url}}{{ post.url }}#main">{{ post.title }}</a>
			<time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">
				{{ post.date | date: "%B %e, %Y" }}
			</time>
			{% if post.tags.size > 0 %}
			<ol class="tags-list">
				{% for post_tag in post.tags %}
					{% assign tag = site.data.tags[post_tag] %}
					{% if tag %}
						<li><a class="tag" href="/blog/tag/{{ post_tag }}/">{{ tag.name }}</a></li>
					{% endif %}
				{% endfor %}
			</ol>
			{% endif %}
		</h1>
	</header>

	<hr>
	{{ post.excerpt }}
</section>
{% endfor %}
