---
title: Blog
pagestyle: posts
layout: default
---

{% for post in paginator.posts %}
<section>
	<header class="post-title">
		<h1>
			<a href="{{site.base-url}}{{ post.url }}#main">{{ post.title }}</a>
		</h1>
		<time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">
			{{ post.date | date: "%B %e, %Y" }}
		</time>
		{% if post.subtitle %}
		<h2>
			{{ post.subtitle }}
		</h2>
		{% endif %}
		{% if post.tags.size > 0 %}
		<ol class="tags-list">
			{% for post_tag in post.tags %}
				{% assign tag = site.data.tags[post_tag] %}
				{% if tag %}
					<li><a class="tag" href="/blog/tag/{{ post_tag }}/">{{ tag.name }}</a></li>
				{% endif %}
			{% endfor %}
		</ol>
		{% endif %}
	</header>

	<hr>
	{{ post.excerpt }}
</section>
{% endfor %}

<nav class="page-links section">
{% if paginator.next_page %}
<a class="page-prev" href="{{ site.base-url }}{{ paginator.next_page_path }}">
	Older: {{ paginator.next_page }} / {{ paginator.total_pages }}
</a>

{% endif %}
{% if paginator.previous_page %}
<a class="page-next" href="{{ site.base-url }}{{ paginator.previous_page_path }}">
	Newer: {{ paginator.previous_page }} / {{ paginator.total_pages }}
</a>
{% endif %}
</nav>
