<!doctype html>
<html lang="en">
	<head>
<!-- If you want to fix the weird fonts on Chrome or Firefox 
	 on Android, uncomment this meta tag. The weird font size 
	 is due to "font boosting". 
-->
		<meta name="HandheldFriendly" content="true">
		<meta charset="utf-8">
		<title>
			{{ page.title }} &ndash; Muru's home page.
		</title>
		<link rel="stylesheet" href="{{ site.base-url }}/styles/style.css" type="text/css">
		<link rel="stylesheet" href="{{ site.base-url }}/styles/{{ page.pagestyle }}.css" type="text/css">
		<!-- Web Fonts FTW! -->
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Ubuntu">
	</head>
	<body>
		<div id="container">
			<header id="title">
				<h1>
					Murukesh Mohanan
				</h1>
			</header>
			<nav>
				<ul>
					{% for page in site.pages_list %}
					<a href="{{ site.base-url }}/{{ page[1] }}#main">
						<li>
							{{ page[0] }}
						</li>
					</a>
					{% endfor %}
				</ul>
			</nav>
			<div id="vim-proposal"> 
				<a href="http://vi.stackexchange.com">
					<img src="http://i.stack.imgur.com/LMMOe.png" alt="Vi and Vim Stack Exchange" />
				</a>
			</div>
			<article id="main">

				{{ content }}

			</article>
		</div>
		<footer>
			<section>
			<!-- Copyleft FTW! -->
			<img src="{{ site.base-url }}/images/Copyleft.png" style="height: 1em;" alt="copyleft"> Murukesh Mohanan.
			<p>Permission to use content is granted under <a href="https://creativecommons.org/licenses/by-sa/3.0/" rel="license">the CC BY-SA license</a>.</p>
			<p>The font used here is the Ubuntu font, via Google Web Fonts.</p>
			</section>
		</footer> 
	</body>
</html>
