<!doctype html>
<html lang="en">
	<head>
<!-- If you want to fix the weird fonts on Chrome or Firefox 
	 on Android, uncomment this meta tag. The weird font size 
	 is due to "font boosting". 
-->
		<meta name="HandheldFriendly" content="true">
		<meta charset="utf-8">
		<meta property="fb:admins" content="murukesh">
		<title>
			{{ page.title }} &ndash; Muru's home page.
		</title>
		<link rel="stylesheet" href="{{ site.base-url }}/styles/style.css" type="text/css">
		<link rel="stylesheet" href="{{ site.base-url }}/styles/{{ page.pagestyle }}.css" type="text/css">
		<!-- Web Fonts FTW! -->
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Ubuntu">
	</head>
	<body>
		<header id="title">
			<h1>
				Murukesh Mohanan
			</h1>
		</header>
		<nav>
			<ul>
				{% for page in site.pages_list %}
				<a href="{{ site.base-url }}/{{ page[1] }}#main">
					<li>
						{{ page[0] }}
					</li>
				</a>
				{% endfor %}
			</ul>
		</nav>
		<div id="vim-proposal"> 
			<a href="http://area51.stackexchange.com/proposals/80441/vi-and-vim?referrer=cSyv9sCu62iNAfGtTTKvSg2">
				<img src="http://area51.stackexchange.com/ads/proposal/80441.png" alt="Stack Exchange Q&A site proposal: Vi and vim" />
			</a>
		</div>
		<article id="main">

			{{ content }}

		</article>
		<footer>
			<section>
			<!-- Copyleft FTW! -->
			<img src="{{ site.base-url }}/images/Copyleft.png" style="height: 1em;" alt="copyleft"> Murukesh Mohanan.
			<p>Permission to use content is granted under <a href="https://creativecommons.org/licenses/by-sa/3.0/" rel="license">the CC BY-SA license</a>.</p>
			<p>The font used here is the Ubuntu font, via Google Web Fonts.</p>
			</section>
		</footer> 
	</body>
</html>
