<!doctype html>
<html lang="en">
	<head>
<!-- If you want to fix the weird fonts on Chrome or Firefox
	 on Android, uncomment this meta tag. The weird font size
	 is due to "font boosting".
-->
		<link rel="canonical" href="{{ site.url }}{{ page.url }}">
		<meta name="HandheldFriendly" content="true">
		<meta charset="utf-8">
		<title>
			{{ page.title }} &ndash; Muru
		</title>
		<link rel="stylesheet" href="{{ site.base-url }}/css/style.css" type="text/css">
		{% if page.pagestyle %}
			{% assign pagestyle = page.pagestyle %}
		{% else %}
			{% assign pagestyle = layout.pagestyle %}
		{% endif %}
		{% if page.script %}
		<script src="js/{{ page.script }}.js" type="text/javascript">
		</script>
		{% endif %}
		{% if pagestyle %}
		<link rel="stylesheet" href="{{ site.base-url }}/css/{{ pagestyle }}.css" type="text/css">
		{% endif %}
		<!-- Web Fonts FTW! -->
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Ubuntu">
		<meta property="fb:app_id" content="658633094275731"/>
		{% if page.description %}
			<meta name="description" content="{{ page.description }}">
		{% endif %}
	</head>
	<body>
		<header id="title">
			<a href="{{ site.base-url }}/">
				<h1>
					Murukesh Mohanan
				</h1>
			</a>
		</header>
		<nav>
			<ul>
				{% for page in site.pages_list %}
				<a href="{{ site.base-url }}/{{ page[1] }}#main">
					<li>
						{{ page[0] }}
					</li>
				</a>
				{% endfor %}
			</ul>
		</nav>
		<article id="main">

			{{ content }}

		</article>
		<footer>
			<section>
			<!-- Copyleft FTW! -->
			<div>
			<img src="{{ site.base-url }}/images/Copyleft.png" style="height: 1em;" alt="copyleft"> Murukesh Mohanan.
			<p>Permission to use content is granted under <a href="https://creativecommons.org/licenses/by-sa/3.0/" rel="license">the CC BY-SA license</a>.</p>
			<p>The font used here is the Ubuntu font, via Google Web Fonts.</p>
			</div>
			<a class="rss" href="{{ site.base-url }}/feed.xml"><img src="{{ site.base-url }}/images/rss.svg" alt="RSS"></img></a>
			</section>
		</footer>
	</body>
</html>
