---
layout: default
pagestyle: posts
---
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.4";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<header class="section post-title">
	<h1>
		<a href="{{ site.root_url }}{{ page.url }}">
			{{ page.title }}
		</a>
		<time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">
			{{ page.date | date: "%B %e, %Y" }}
		</time>
	</h1>
</header>

<section id="post">
	{{ content }}
</section>

<div class="fb-comments" 
	data-href="{{site.myurl}}{{page.url}}" 
	data-width="100%" 
	data-numposts="10"
	data-colorscheme="dark"></div>
