@import 'code.css';

.post-title a {
	text-decoration: none;
	font-size: x-large;
}

kbd {
	border: solid black 0.05em ;
	box-shadow: 0 0.05em 0.05em 0.05em rgba(200,200,200,0.75);
    padding: 0.1em 0.5em;
	border-radius: 0.25em;
	background: #FEFEFE;
	margin: 0 0.2em;
	color: black;
}

blockquote {
	padding: 0.5em 2em;
	margin: 0;
	background-color: whitesmoke;
}

img {
	max-width: 100%;
}

.post-date {
	text-align: right;
}

a.tag {
    background-color: gainsboro;
    padding: 0.1em 0.5em;
    border-radius: 0.3em;
    font-variant: small-caps;
	text-decoration: none;
	font-size: large;
	color: black;
}

ol.tags-list {
	margin: 0;
	padding: 0;
	text-align: right;
}

ol.tags-list li {
	list-style: none;
	list-style-image: none;
	display: inline-block;
}

/* 
 * From http://drewsilcock.co.uk/proper-linenumbers/
 */

.highlight {
	margin: 0;
	font-size: 1.2em;
}

.highlight pre {
	margin: 0;
}

.highlight pre code {
	margin: 0;
	padding: 0;
}

.highlight .code, .highlight .gutter {
	padding: 0.5em;
}

.highlight .gutter {
	opacity: 0.4;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: #454545;
}

.comments {
	background-color: darkslategrey;
	overflow: auto;
}

@media screen and (min-device-aspect-ratio: 1/1) and (orientation: landscape) {
	.post-date {
		float: right;
		border-left: solid 0.2em silver;
		padding-left: 0.5em;
	}
	.post-title h1 {
		margin: 0.5em;
		/*overflow: auto;*/
	}
}

@media screen and (max-device-aspect-ratio: 1/1) and (orientation: portrait) {
	.post-date {
		font-size: initial;
		display: block;
		text-align: right;
	}
	.post-title h1 {
		margin: 0;
	}

	kbd {
		font-size: small;
	}
}
