@import 'code.css';

#post ul li {
	padding: 0.2em;
}

.post-title a {
	text-decoration: none;
}

kbd {
	border: solid black 0.05em ;
	box-shadow: 0 0.1em 0.1em 0.2em rgba(100,100,100,0.75);
    padding: 0.1em 0.5em;
	border-radius: 0.15em;
	background: #FEFEFE;
	margin: 0 0.2em;
}

blockquote {
	padding: 0;
	margin: 0;
}

img {
	max-width: 100%;
}

/* 
 * From http://drewsilcock.co.uk/proper-linenumbers/
 */

pre {
    counter-reset: line-numbering;
}

pre a::before {
  content: counter(line-numbering);
  counter-increment: line-numbering;
  padding-right: 1em; /* space after numbers */
  text-align: right;
  opacity: 0.4;
  display: inline-block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  min-width: 1em;
}

@media screen and (orientation:landscape) {
	.post-date {
		float: right;
		border-left: solid 0.2em black;
		padding-left: 0.5em;
	}
}

@media screen and (orientation:portrait) {
	.post-date {
		font-size: initial;
		display: block;
		text-align: right;
	}
	.post-title h1 {
		margin: 0;
	}

	kbd {
		font-size: small;
	}
}
