#plugins-list::after {
	clear: both;
	content: "";
	display: table;
}

#plugins-list li {
	float: left;
	width: 10em;
}

a[href^="https://git"] img {
	height: 1.5em;
	width: 1.5em;
	vertical-align: bottom;
}
