/** Global CSS file, contains common styles. 
  * Styles for individual pages with page-specific changes
  * are provided in the styles/ directory, if needed.
  * The styles are arranged thus:
  * 1. divs and other named tags.
  * 2. Sub-elements of the above.
  * 3. Unnamed tags.
  * 4. Sub-elements of the above.
  */
#header {
	border-bottom: 0.2em solid white;
	padding: 0.1em 3%;
	margin: 0;
	font-variant: small-caps;
	font-size: 2em;
	text-align: center;
}
/** The #main div is given a min-height so that it isn't
  * squished on pages with little content, or for displays
  * that are tall (like phones in portrait mode).
  * Height obtained by trial-and-error on a Nexus 4
  * Chrome browser. Didn't work on a Nexus 4 Opera Mini.
  */
#main {
	padding: 1em 2em;
	min-height: 42em;
	/*margin-left: 15%;
	float: right;
	display: inline-block;*/
	margin: 0 auto;
}

/** To be used when CSE enables SSI.
  * #footer-include {
  *	clear: both;
  *	width: 100%;
  *	overflow: auto;
  *	border-top: 0.2em solid white;
  * }
  */
#footer {
	clear: both;
	padding: 2%;
	padding-bottom: 1%;
	font-size: 80%;
	border-top: 0.25em solid white;
}
#contact-comment {
	display: none;
}

div.bugs {
	/*list-style: none;*/
	border: 0.1em gray solid;
	padding: 0.5em;
	color: black;
	background: grey;
	box-shadow: 0.1em 0.1em 0.2em 0 rgba(128,128,128,0.75);
	border-radius: 0.3em;
}
#header li {
	list-style: none;
}
#bug a, #query a{
	color: black;
}
#sidebar li {
	margin-bottom: 0.1em;
	padding: 0.5em 0.5em;
	border-radius: 0.3em;
	background-color: #999999;
}

#sidebar a {
	text-decoration: none;
}

#sidebar a:visited {
	color: black;
}

#main li {
	padding: 0.5em 0;
	margin-left: 0.5em;
	list-style-image: url("images/not_sign.png");
}
#main li.no-marker {
	list-style: none;
}
#main ul {
	margin: 0 0 0.75em 0.75em;
	padding: 0;
}
#footer img {
	height: 1em;
}

html {
	background-color: black; /*#404040;*/
}

body {
	font-family: 'Ubuntu Mono', 'Ubuntu', 'Droid Mono', 'Droid', 'Verdana', sans;
	/*font-size: 16px;*/
	margin: 0 auto;
	padding: 0;
	color: #121212;
	background-color: #CCCCCC;
	width: 100%;
/*	width: 60em;*/
}
h1 {
	font-size: 2em;
}
h3 {
	margin-top: 0;
}
code {
	font-family: 'Ubuntu Mono', 'Droid Mono', monospace;
	color: #0D0;
}

a:link {
	color: #022;
}
a:visited {
	color: #1387B4;
}
a:hover {
/*	text-shadow: 0 0 2px #999;*/
	font-weight: bold;
}

ol li, ul ol li {
	list-style: decimal;
}
ul li {
	/*list-style-image: url("images/not_sign.png");*/
}

.section {
	background: white;
	color: black;
	box-shadow: 0.1em 0.1em 0.2em 0.1em rgba(128,128,128,0.75);
	border-radius: 0.5em;
	margin-bottom: 1em;
	padding: 1em;
	text-align: left;
}
.section li {
	list-style: none;
}
.top {
	float: right;
	background: rgb(213, 213, 213);
	padding: 0.5em;
	/* vertical-align: top; */
	border-radius: 0.2em;
	border: 0.2em solid gray;
	margin-top: -1em;
	font-size: 1.5em;
}

@media screen and (orientation:landscape) {
	#header h1, #header h2 {
		margin: 0;
	}
	#sidebar {
		padding-top: 1%;
		/*	min-height: 42em;
		display: inline-block;*/
		float: left;
		font-size: 1.2em;
		clear: both;
		text-align: right;
		height: 100%;
		vertical-align: top;
		width: 8em;
	}
	#sidebar ul {
		padding: 0;
		border-top: 0.1em solid gray;
		/*border-bottom: 0.1em solid gray;
		border-right: 0.2em solid white;*/
		border-radius: 0.3em;
	}
	#sidebar li {
		border-bottom: 0.1em solid gray;
		border-right: 0.1em solid gray;
	}
	div.bugs {
		margin: 0.5em;
		display: inline-block;
	}

	#nav li:hover {
		box-shadow: 0.1em 0.1em 0.15em 0.05em rgba(100,100,100,0.75);
	}
	#main {
		max-width: 70%;
		min-width: 22em;
		width: 60%;
	}
}

@media screen and (orientation:portrait) {

	#sidebar {
		width: 90%;
		/*	min-height: 42em;*/
		font-size: 1.5em;
		clear: both;
		text-align: center;
		margin: 0 auto;
	}
	#sidebar ul {
		padding: 0;
		border-radius: 0.3em;
	}
	#sidebar li {
		border-bottom: 0.1em solid gray;
		list-style: none;
		border-radius: 0.3em;
		margin: 0.2em;
	}
	div.bugs {
		margin: 0.5em;
		font-size: 1.5em;
	}

	#main, body {
		text-align: center;
	}
	.section {
		width: 85%;
		font-size: 2em;
		margin: 2em auto;
	}
}


