#title {
	border-bottom: 0.2em solid white;
	padding: 0.1em 3%;
	font-size: x-large;
	font-variant: small-caps;
	text-align: center;
	min-height: 4em;
	background-color: lightslategrey;
	color: whitesmoke;
}

#container {
	min-height: 80vh;
}

/** The #main div is given a min-height so that it isn't
  * squished on pages with little content, or for displays
  * that are tall (like phones in portrait mode).
  * Height obtained by trial-and-error on a Nexus 4
  * Chrome browser. Didn't work on a Nexus 4 Opera Mini.
  */
#main {
	/*margin-left: 15%;
	float: right;
	display: inline-block;*/
	margin: 0 auto;
}

#main ul li {
	padding: 0.5em 0;
	margin-left: 0.5em;
	list-style-image: url("../images/not_sign.png");
}

#main li.no-marker {
	list-style: none;
}

#main ul {
	margin: 0 0 0.75em 0.75em;
	padding: 0;
}

footer {
	clear: both;
	padding: 2%;
	padding-bottom: 1%;
	font-size: 80%;
	border-top: 0.25em solid white;
}

footer section {
	display: flex;
}

#contact-comment {
	display: none;
}

nav li {
	margin-bottom: 0.1em;
	padding: 0.5em 0.5em;
	border-radius: 0 0.3em 0.3em 0;
	background-color: #37474F;
	color: white;
}

nav a {
	text-decoration: none;
}

nav a:visited {
	color: silver;
}

footer img {
	height: 1em;
}

#vim-proposal {
	text-align: center;
	padding: 1em;
}

#vim-proposal img {
	border-radius: 1vw;
	overflow: hidden;
}

html {
	background-color: black; /*#404040;*/
}

body {
	font-family: 'Ubuntu Mono', 'Ubuntu', 'Roboto', 'Droid Mono', 'Droid', 'Verdana', sans;
	/*font-size: 16px;*/
	margin: 0 auto;
	padding: 0;
	color: #121212;
	background-color: #B0BEC5; /*#CCCCCC;*/
	width: 100%;
/*	width: 60em;*/
	min-height: 100vh;
}
/*h1 {
	font-size: 2em;
}
h3 {
	margin-top: 0;
}*/
code {
	font-family: 'Ubuntu Mono', 'Droid Mono', monospace;
	color: whitesmoke;
	background-color: #464646;
	padding: 0.05em 0.2em;
}

a:link {
	color: #0EE;
}
a:visited {
	color: #1387B4;
}
a:hover {
/*	text-shadow: 0 0 2px #999;*/
	font-weight: bold;
}

#title a {
	text-decoration: none;
	color: inherit;
}

ol li {
	list-style: decimal;
	padding: 0.3em;
}

nav ul li {
	list-style: none;
}

section, .section {
	background: #122;
	color: white;
	margin-bottom: 1em;
	padding: 1em;
	text-align: justify;
	line-height: 1.2em;
}

section, .section, #vim-proposal img {
	box-shadow: 0.1em 0.1em 0.2em 0.1em rgba(128,128,128,0.75);
	border-radius: 0.5em;
}

pre code {
	overflow: auto;
	display: block;
	padding: 0.5em;
	color: whitesmoke;
	background-color: black;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	font-size: 1.0em;
}

pre code strong {
	color: white;
}

.top {
	float: right;
	background: rgb(213, 213, 213);
	padding: 0.5em;
	/* vertical-align: top; */
	border-radius: 0.2em;
	border: 0.2em solid gray;
	margin-top: -1em;
	font-size: 1.5em;
}

img {
	max-width: 100%;
}

a.rss {
	margin-left: auto;
}

#container {
	display: flex;
	align-items: flex-start;
}

@media screen and (min-device-aspect-ratio: 1/1) and (orientation: landscape) {
	nav {
		padding-top: 1%;
		/*	min-height: 42em;
		display: inline-block;
		vertical-align: top;
		float: left;*/
		font-size: 1.2em;
		text-align: right;
		height: 100%;
		width: 10em;
		max-width: 18vw;
	}
	nav ul {
		padding: 0;
		border-top: 0.1em solid gray;
		/*border-bottom: 0.1em solid gray;
		border-right: 0.2em solid white;*/
		border-radius: 0.3em;
	}
	nav li {
		border-bottom: 0.1em solid gray;
		border-right: 0.1em solid gray;
	}
	nav li:hover {
		box-shadow: 0.1em 0.1em 0.15em 0.05em rgba(100,100,100,0.75);
	}

	#main {
		max-width: 70vw;
		min-width: 22em;
		width: 60%;
		padding: 1em 2em;
	}
}

@media screen and (max-device-aspect-ratio: 1/1) and (orientation: portrait) {
	#title h1 {
		margin: 0.2em;
	}

	nav {
		/*	min-height: 42em;*/
		text-align: center;
	}
	nav ul {
		padding: 0;
	}
	nav li {
		list-style: none;
		border-radius: 0.3em;
		margin: 0.2em;
		box-shadow: 0.1em 0.1em 0.15em 0.05em rgba(100,100,100,0.75);
	}

	body {
		text-align: center;
	}

	section, .section {
		text-align: left;
		margin-top: 2em;
	}

	#main, #vim-proposal, nav {
		width: 90%;
		padding: 0 1em;
		margin: 0 auto;
	}

	#vim-proposal img {
		margin-top: 1em;
		margin-bottom: 1em;
		width: 100%;
	}
	
	#container {
		flex-direction: column;
	}
}
